
body {

    overflow: clip;

    background: 
        linear-gradient(90deg, var(--vscode-notebook-cellEditorBackground) 21px, transparent 1%) center, 
        linear-gradient(var(--vscode-notebook-cellEditorBackground) 21px, transparent 1%) center, var(--vscode-foreground);
    background-size: 22px 22px;
}

div.nodes {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    transform-origin: 0 0;
}

div.zoom-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    transform-origin: 0 0;
    touch-action: none;
    user-select: none;
    z-index: 1;
}

div.zoom-container.pan {
    cursor: move;
}

div.box-select {
    background-color: var(--vscode-editor-selectionHighlightBackground);
    border: 1px solid var(--vscode-focusBorder);
    z-index: 999;
    position: absolute;
}

#nodes-header {
    position: absolute;
    z-index: 2;
    padding: 4px;
    background-color: var(--vscode-breadcrumb-background);
    width: 100vw;
    left: 0;
    top: 0;

    box-shadow: 0 0 6px var(--vscode-scrollbar-shadow);

    display: flex;
    justify-content: space-between;
}

div.node {
    border: 1px solid var(--vscode-notebook-cellBorderColor);
    background-color: var(--vscode-editor-background);

    border-radius: 2px;

    position: absolute;
    top: 0;
    left: 0;
    
    touch-action: none;
    user-select: none;

    padding: 5px;
    width: 200px;
    height: 125px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    box-shadow: 0 0 10px var(--vscode-widget-shadow);

    box-sizing: border-box;
    overflow: hidden;
}

div.node .node-preview-fade {
    background: linear-gradient(transparent, var(--vscode-editor-background) 75%);
    width: 100%;
    height: 2em;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

div.node.color-red {
    border-top-width: 10px;
    border-top-color: var(--vscode-charts-red);
}
div.node.color-blue {
    border-top-width: 10px;
    border-top-color: var(--vscode-charts-blue);
}
div.node.color-yellow {
    border-top-width: 10px;
    border-top-color: var(--vscode-charts-yellow);
}
div.node.color-orange {
    border-top-width: 10px;
    border-top-color: var(--vscode-charts-orange);
}
div.node.color-green {
    border-top-width: 10px;
    border-top-color: var(--vscode-charts-green);
}
div.node.color-purple {
    border-top-width: 10px;
    border-top-color: var(--vscode-charts-purple);
}

div.node .title {
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
}

div.node .preview {
    font-size: 0.75em;
    opacity: 0.5;
}

div.node#node-template {
    display:none;
}

div.node.selected {
    border: 2px solid var(--vscode-focusBorder);

    /* normal border is 1px and padding is 5px; reduce padding to 4px to account
     * for the extra 1px of border while selected */
    padding: 4px;
}

#node-jump {
    min-width: 200px !important;
}

#graph-debug {
    position:absolute;
    left:0;
    top:50px;
    z-index: 999;
    background: white;
    color: black;
    padding: 2px;
    font-size: 0.5em;
}

#alignment-buttons {
    position: absolute;
    left: 8px;
    bottom: 8px;
}

.group {
    position: absolute;
    z-index: -10;
    border: 1px solid var(--vscode-charts-green);
    color: var(--vscode-charts-green);
    background: rgba(var(--vscode-charts-green), 0.5);
    padding: 4px;
    opacity: 0.9;
    border-radius: 5px;
}

/* It'd be nice to say 'background color of .group is VS Code Green but with
 * 0.25 opacity' but the color is defined in hex, which doesn't carry alpha
 * information. Instead, we work around by making groups have a 'background'
 * node that's set to green and has an element-wide opacity. */
.group-background {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    background-color: var(--vscode-charts-green);
    opacity: 0.25;
    
    z-index: -1;
}
