@import "tailwindcss";

#root {
    height: 100dvh;
}

body {
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}
