@import "tailwindcss";

#root {
    height: 100dvh;
}

body {
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

@theme {
    --color-*: initial;
    --color-white: #fff;
    --color-black: #000;

    --color-editor-foreground: var(--vscode-editor-foreground, #3b3b3b);
    --color-editor-background: var(--vscode-editor-background, #ffffff);

    --color-selected: var(--vscode-list-focusOutline, #0000ff);
    --color-red: var(--vscode-charts-red, #e51400);
    --color-blue: var(--vscode-charts-blue, #1a85ff);
    --color-yellow: var(--vscode-charts-yellow, #bf8803);
    --color-orange: var(--vscode-charts-orange, #d18616);
    --color-green: var(--vscode-charts-green, #388a34);
    --color-purple: var(--vscode-charts-purple, #652d90);

    --color-node-yellow-bg: color-mix(
        in srgb,
        var(--color-yellow) 25%,
        var(--vscode-editor-background, #fff)
    );
    --color-node-blue-bg: color-mix(
        in srgb,
        var(--color-blue) 25%,
        var(--vscode-editor-background, #fff)
    );
    --color-node-red-bg: color-mix(
        in srgb,
        var(--color-red) 25%,
        var(--vscode-editor-background, #fff)
    );
    --color-node-orange-bg: color-mix(
        in srgb,
        var(--color-orange) 25%,
        var(--vscode-editor-background, #fff)
    );
    --color-node-green-bg: color-mix(
        in srgb,
        var(--color-green) 25%,
        var(--vscode-editor-background, #fff)
    );
    --color-node-purple-bg: color-mix(
        in srgb,
        var(--color-purple) 25%,
        var(--vscode-editor-background, #fff)
    );

    --color-stickynote-yellow: hsl(62, 100%, 60%);
    --color-stickynote-blue: hsl(177, 100%, 60%);
    --color-stickynote-red: hsl(348, 100%, 60%);
    --color-stickynote-orange: hsl(37, 100%, 60%);
    --color-stickynote-green: hsl(133, 100%, 60%);
    --color-stickynote-purple: hsl(296, 100%, 60%);

    --color-stickynote-yellow-bg: color-mix(
        in srgb,
        var(--color-stickynote-yellow) 50%,
        var(--vscode-editor-background, #fff)
    );
    --color-stickynote-blue-bg: color-mix(
        in srgb,
        var(--color-stickynote-blue) 50%,
        var(--vscode-editor-background, #fff)
    );
    --color-stickynote-red-bg: color-mix(
        in srgb,
        var(--color-stickynote-red) 50%,
        var(--vscode-editor-background, #fff)
    );
    --color-stickynote-orange-bg: color-mix(
        in srgb,
        var(--color-stickynote-orange) 50%,
        var(--vscode-editor-background, #fff)
    );
    --color-stickynote-green-bg: color-mix(
        in srgb,
        var(--color-stickynote-green) 50%,
        var(--vscode-editor-background, #fff)
    );
    --color-stickynote-purple-bg: color-mix(
        in srgb,
        var(--color-stickynote-purple) 50%,
        var(--vscode-editor-background, #fff)
    );
}
